<table class="totals">
  <tr>
    <td class="cel1 bold"><%= Spree.t(:item_total) %>:</td>
    <td class="cel2 cell" align="right"><%= Spree::Money.new(@order.item_total, currency: @order.currency).to_html %></td>
  </tr>
  <% @order.adjustments.eligible.where('amount>?', 0).each do |adjustment| %>
    <tr>
      <td class="cel1 bold"><%= adjustment.label %>:</td>
      <td class="cel2 cell" align="right"><%= Spree::Money.new(adjustment.amount, currency: @order.currency).to_html %></td>
    </tr>
  <% end %>

  <% if @order.line_item_adjustments.exists? %>
    <% if @order.line_item_adjustments.promotion.eligible.exists? %>
      <% @order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
        <tr>
          <td class="cel1 bold"><%= Spree.t(:promotion) %>: <%= label %></td>
          <td class="cel2 cell" align="right"><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency).to_html %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>

  <% @order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
    <tr>
      <td class="cel1 bold"><%= Spree.t(:shipping) %>: <strong><%= name %></strong></td>
      <td class="cel2 cell" align="right"><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency).to_html %></td>
    </tr>
  <% end %>

  <% if @order.all_adjustments.tax.exists? %>
    <% @order.all_adjustments.tax.group_by(&:label).each do |label, adjustments| %>
      <tr class="total">
        <td class="cel1 bold"><%= Spree.t(:tax) %>: <%= label %></td>
        <td class="cel2 cell" align="right">
          <%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %>
        </td>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <td class="cel1 bold"><strong><%= Spree.t(:order_total) %>:</strong></td>
    <td class="cel2 cell" align="right">
      <strong><span id='summary-order-total'><%= Spree::Money.new(@order.total, currency: @order.currency).to_html %></span></strong>
    </td>
  </tr>
</table>
