<table class="totals">
  <% order_mrp_total = @order.line_items.map { |i| i.price * i.quantity }.sum %>
  <% if (order_mrp_total - @order.item_total).round(2) != 0 %>
    <tr>
      <td class="cel1 bold"><%= Spree.t(:mrp_total) %>:</td>
      <td class="cel2 bold cell" align="right"><%= number_to_currency order_mrp_total %></td>
    </tr>
    <% if (@order.item_total - order_mrp_total).round(2) > 0 %>
      <tr>
        <td class="cel1 bold"><%= Spree.t(:discount_total) %>:</td>
        <td class="cel2 cell" align="right"><%= number_to_currency(@order.item_total - order_mrp_total) %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td class="cel1 bold"><%= Spree.t(:item_total) %>:</td>
    <td class="cel2 bold cell" align="right"><%= number_to_currency @order.item_total %></td>
  </tr>
  <% @order.adjustments.eligible.where('amount>?',0).each do |adjustment| %>
    <tr>
      <td class="cel1 bold"><%= adjustment.label %>:</td>
      <td class="cel2 cell" align="right"><%= number_to_currency adjustment.amount %></td>
    </tr>
  <% end %>

  <tr>
    <td class="cel1 bold"><strong><%= Spree.t(:order_total) %>:</strong></td>
    <td class="cel2 cell" align="right">
      <strong><span id='summary-order-total'><%= number_to_currency @order.total %></span></strong></td>
  </tr>
  <% if @order.adjustments.eligible.present? %>
    <tr>
      <td class="cel1"></td>
      <td class="cel2"></td>
    </tr>
    <% @order.adjustments.eligible.each do |adjustment| %>
      <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
      <tr class="total">
        <td class="cel1 bold"><strong><%= adjustment.label %></strong></td>
        <td class="cel2 cell" align="right"><span><%= adjustment.display_amount.to_html %></span></td>
      </tr>
    <% end %>
  <% end %>
</table>
